*{
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}


#size-display{
  padding: 10px;
  max-width: 300px;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  position: fixed;
  right: 0px;


}

/* End of Size Display */


.blocks{
  display: inline-block;
  margin: 20px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

#block1{
  background: blue;
}

#block2{
  background: green;
  /* transition: height 4s; */
  transition: 2s;
}

#block2:hover{
  /* transform: rotateX(55deg); */
  /* transform-origin: right; */

}

#for-each-container{
  text-align: center;
}

#fe-button{
  width: 250px;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
  background: lightgreen;
}

.fe-shapes{
  height: 30px;
  width: 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .2);
  display: inline-block;
  margin: 10px;
}











#block3{
  background: yellow;
  transition: 2s;
  transition-timing-function: cubic-bezier(0, 1, 1, 0);
}

#block3:hover{
  width: 400px;
}

#block4{
  background: brown;
  transition: height 2s, width 5s;
}

#block4:hover{
  background: red;
  height: 40px;
  width: 250px;
}

#name{
  display: block;
  max-width: 300px;
  height: 40px;
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, .2);
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

hr{
  border: 1px solid black;
  margin: 30px 0;
}
/* End of transitions */

#output{
  text-align: center;
  margin: 20px 0;
}
/* End of event remover section */

/* Image Swapper Section */
#image-container{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 30px auto 0;
  background: url('./media-content/ship.jpg') center center no-repeat;
  font-size: 30px;
  line-height: 450px;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 5px black;
  text-align: center;
}

.alt-container{
  background: rgba(95, 14, 121);
  font-size: 40px;
  text-align: center;
  line-height: 450px;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;

}

#switcher{
  margin: 20px auto;
  width: 500px;
  font-size: 35px;
  border: 2px solid green;
  color: green;
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 10px;
}

.text{
  text-align: center;
}

p{
  font-size: 30px;
}
/* End of Image Swapper Section */

/* Keyboard Event Section */
#key-wrapper{
  text-align: center;
}

#keys-output{
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  font-size: 45px;
  margin: 20px 0;
}

#list-wrapper{
  max-width: auto;
  display: inline-block;
}

.keys{
  width: 30px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  font-weight: bolder;
  display: inline-block;
  margin: 0 10px;
  border-radius: 10px;
}
