*{
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blocks{
  display: inline-block;
  margin: 20px;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

#block1{
  background: blue;
}

#block2{
  background: green;
}

#block3{
  background: yellow;
  transition: 2s;
  transition-timing-function: cubic-bezier(0, 1, 1, 0);
}

#block3:hover{
  width: 400px;
}

#block4{
  background: brown;
  transition: height 2s, width 5s;
}

#block4:hover{
  background: red;
  height: 40px;
  width: 250px;
}
